@model PetsDate.Web.ViewModels.Publication.PublicationListAllViewModel

@{
    this.ViewData["Title"] = "Hotel Info Page";
}

<div class="text-center h1">
    <h1>@this.ViewData["Title"]</h1>
</div>

<div class="container">

    <h5 class="info-title">Post By: @Model.UserName</h5>
    <p class="info-text">Description: @Model.Description</p>

    <a class="btn btn-primary mb-2" asp-area="" asp-controller="Publication" asp-action="All">Return</a>

    <a class="btn btn-dark mb-2" asp-controller="Publication" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

    <form id="deleteForm" asp-controller="Publication" asp-action="Delete" asp-route-id="@Model.Id">
    </form>

    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</div>

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title">Delete Publication</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <div class="modal-body">
                <p>Do you want to delete Publication?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
            </div>
        </div>
    </div>
</div>

