@model PetsDate.Web.ViewModels.Animal.AnimalListAllViewModel

@{
    this.ViewData["Title"] = "Animal Info Page";
}

<div class="text-center h1">
    <h1>@this.ViewData["Title"]</h1>
</div>

<div class="container">

    
        <img class="info-image" src="@Model.ImageUrl" alt="Card image cap">
        
            <h5 class="info-title">Name: @Model.Name</h5>
            <p class="info-text">Age: @Model.Age</p>
            <p class="info-text">Color: @Model.Color</p>
            <p class="info-text">Weight: @Model.Weight</p>
            <p class="info-text">Category: @Model.CategoryName</p>
            <p class="info-text">AnimalId: @Model.Id</p>

            <a class="btn btn-primary mb-2" asp-area="" asp-controller="Animal" asp-action="All">Return</a>

        
    

</div>
