@model PetsDate.Web.ViewModels.Clinic.ClinicListViewModel
@{
    this.ViewData["Title"] = "All Clinics, page " + Model.PageNumber;
}

<div class="text-center h1">
    <h1>@this.ViewData["Title"]</h1>
</div>

<div class="container row justify-content-xl-center">

    @foreach (var clinic in this.Model.Clinics)
    {
        <div class="card col-md-3 mt-4 mr-4">
            <img class="card-img-top" src="@clinic.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@clinic.Name</h5>

                <p class="card-text">Location: @clinic.Location</p>

                <a class="btn btn-primary mb-2" asp-area="" asp-controller="Clinic" asp-action="Info" asp-route-id="@clinic.Id">Info Page</a>
            </div>
        </div>
    }
</div>

<a class="btn btn-primary mb-2" asp-area="" asp-controller="Home" asp-action="Index">Return</a>

<partial name="_PagingPartial" model="@Model" />
