@model PetsDate.Web.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<h2>We have:</h2>
<ul class="list-group">
    <li class="list-group-item">
        Users: @Model.UsersCount
    </li>

    <li class="list-group-item">
        Animals: @Model.AnimalsCount
    </li>

    <li class="list-group-item">
        Clinics: @Model.ClinicCount
    </li>

    <li class="list-group-item">
        Publications: @Model.PublicationCount
    </li>

    <li class="list-group-item">
        Events: @Model.EventsCount
    </li>

    <li class="list-group-item">
        Hotels: @Model.HoteslCount
    </li>

    <li class="list-group-item">
        Sos Signals: @Model.SosSignslsCount
    </li>

    <li class="list-group-item">
        Categories: @Model.CategoriesCount
    </li>
</ul>

<div class="text-center h1">
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Return</a>
</div>